In [4]:
import pandas as pd, numpy as np

import sys, json, random
n=100

In [5]:
df = pd.read_csv("python-scripts/data-100k.csv")

df1 = df['A'].value_counts()

In [60]:
list(df.columns)

['A', 'B']

In [55]:
dict_temp ={}
dict_temp['A'] = list(df1.index.astype(str))

dict_temp['B'] = list(df1.values.astype(str))

In [57]:
json.dumps(dict_temp)

'{"A": ["67", "88", "53", "18", "33", "2", "45", "96", "51", "95", "14", "80", "63", "35", "64", "30", "8", "17", "26", "39", "28", "90", "93", "9", "91", "86", "58", "57", "61", "89", "36", "1", "73", "65", "60", "79", "32", "4", "98", "68", "42", "78", "16", "29", "82", "76", "71", "56", "24", "74", "22", "13", "52", "46", "75", "43", "38", "11", "31", "20", "7", "37", "12", "6", "47", "59", "10", "19", "27", "69", "34", "3", "72", "84", "77", "25", "70", "41", "81", "99", "62", "55", "40", "5", "15", "85", "87", "94", "44", "54", "97", "49", "92", "83", "66", "23", "50", "48", "21"], "B": ["1083", "1079", "1079", "1074", "1072", "1070", "1063", "1063", "1063", "1060", "1057", "1054", "1050", "1050", "1047", "1044", "1044", "1043", "1042", "1041", "1034", "1034", "1034", "1031", "1030", "1028", "1026", "1026", "1026", "1025", "1023", "1023", "1022", "1021", "1020", "1020", "1019", "1017", "1016", "1015", "1014", "1013", "1012", "1012", "1011", "1008", "1005", "1004", "1004", "1002", "1002", "1000", "1000", "1000", "1000", "1000", "999", "997", "996", "996", "995", "994", "992", "992", "991", "991", "991", "990", "990", "989", "989", "989", "988", "988", "988", "986", "985", "985", "985", "984", "984", "983", "983", "983", "983", "980", "979", "976", "976", "974", "972", "970", "968", "968", "967", "962", "957", "955", "955"]}'

In [66]:
df1.to_json('data.json',orient='index')

In [42]:
a = "uploads\\ba0ca1ce2be0ef740d5c3a603d9975c4"

In [44]:
a.split("\\")

['uploads', 'ba0ca1ce2be0ef740d5c3a603d9975c4']

In [10]:
a = np.random.randint(1,1000,(int(n),2))

In [11]:
pd.DataFrame(a)

      0    1
0   789  673
1   688  862
2   571  877
3   789  339
4   223  806
5   248  409
6   196  423
7   651  669
8   137  480
9   991  165
10  241  307
11  327  531
12  666  195
13  197  597
14  548  900
15  671  617
16  442  152
17  814  642
18  889  831
19  947  258
20  803  709
21  351  945
22  771  670
23  862  164
24  855  465
25  210  935
26  964  312
27  258  478
28  502  323
29  557  948
..  ...  ...
70  560  128
71  166  491
72  264  957
73  500  215
74   19  949
75  399  364
76  756  802
77  129  298
78  631  719
79  695  760
80  504  784
81  773  998
82  137   26
83  571  434
84  367  201
85  740  702
86  725  579
87  320  532
88  683  773
89  929  395
90  684  766
91  107  450
92  767  761
93  200  594
94  222  299
95  339  280
96  117    9
97  143  864
98  834  470
99  446  935

[100 rows x 2 columns]